# Force git to use LF
*                       text=auto eol=lf

# Mark .pnp.* files as binary to prevent git from trying to merge them
/.pnp.*                 binary linguist-generated

# Hide .yarn and docs from GitHub's language detection
/.yarn/**               linguist-vendored
/docs/**                linguist-documentation
