html,
body {
  font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI,
    Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  word-wrap: break-word;
}

.navbar-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.2s ease-in-out;
  background: url(./static/img/github.svg) no-repeat center;
}

.navbar-github-link:hover::before {
  opacity: 0.6;
}

[data-theme='dark'] .navbar-github-link::before {
  background: url(./static/img/github-dark.svg) no-repeat center;
}

.sp-wrapper {
  margin: 24px 0 !important;
}
